@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f0f0;
}

.town h2 {
  font-size: 20px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  margin-right: 3vw;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
}

.nav-bar {
  background: linear-gradient(to bottom, #0f728b, #8fcbff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 5vh;
}

img {
  height: 80%;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 2vw;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
}

.nav-item:hover {
  background-color: rgb(107, 108, 108);
}

.nav-item-sel {
  text-decoration: underline;
  color: white;
  padding: 10px 15px;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}

.nav-item-sel:hover {
  background-color: rgb(107, 108, 108);
}

.menu {
  height: 6vh;
  width: auto;
  margin-right: 3vw;
}

.town {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  align-items: center;
  margin: 0 auto;
  gap: 3vh;
}

.town p {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.town img {
  width: 100%;
  height: auto;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  align-items: center;
  margin: 0 auto;
  gap: 3vh;
}

.payment ul {
  font-family: "Inter", sans-serif;
}

.payment button {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #559dfb;
  border-width: 0px;
}

.payment button:hover {
  background-color: #abceff;
}

.eles {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.outer {
  background-color: #effeff;
  width: 80%;
  margin: 0 auto;
}

.town h2 {
  font-weight: normal;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #696bff;
  align-items: center;
  padding: 0 2rem;
  margin-top: 5vh;
  font-weight: bolder;
  height: 10vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 3vh;
}

.emergency {
  color: red;
  font-weight: bolder;
}

.boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .boxes {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: left;
    margin-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .town {
    width: 80%;
  }

  .payment {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 16px;
  }

  .town {
    width: 80%;
  }

  .payment {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .town {
    width: 65%;
  }

  .payment {
    width: 65%;
  }
}

@media screen and (min-width: 1800px) {
  body {
    font-size: 30px;
  }
}

@media screen and (min-width: 2400px) {
  body {
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    right: 0;
    background: #4b4b4b;
    width: 100%;
    padding: 1rem 0;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  h1 {
    font-size: 26px;
  }
}